body {
    background-image: url(../images/bg-light.png);
    background-color: #EEEEEE;
    color: #555555;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

a {
    color: #000000;
}

.content-card {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 25px #AAAAAA;
}

.content-title {
    background: #333333;
    color: #AAAAAA;
}

.share-icon {
    fill: #AAAAAA;
}

#loader:after {
    border: 10px solid #000000;
    border-color: #000000 transparent #000000 transparent;
}

.github-corner svg {
    fill: #333333;
    color: #EEEEEE;
}