body {
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    font-family: "Segoe UI","SegoeUI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: large;
    font-weight: lighter;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-align: left;
}

a {
    text-decoration: none;
    font-weight: normal;
}

.content-card {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
}

.markdown img {
    margin-left: -25px;
    margin-right: -25px;
    width: calc(100% + 50px);
}

.markdown pre {
    margin-left: -25px;
    margin-right: -25px;
}

.markdown pre code {
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}

.content-heroimage {
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -25px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.content-title {
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -25px;
    padding: 3px 25px;
}

.share-icon {
    width: 32px;
    height: 32px;
    margin: 0px 25px;
}