body {
    background-image: url(../images/bg-dark.png);
    background-color: #1E1E1E;
    color: #CCCCCC;
}

h1, h2, h3, h4, h5, h6 {
    color: #E8E8E8;
}

a {
    color: #E8E8E8;
}

.content-card {
    background-color: #252525;
    box-shadow: 5px 5px 25px #101010;
}

.content-title {
    background: #383838;
    color: #E8E8E8;
}

.share-icon {
    fill: #8A8A8A;
}

#loader:after {
    border: 10px solid #ADADAD;
    border-color: #ADADAD transparent #ADADAD transparent;
}

.github-corner svg {
    fill: #383838;
    color: #ADADAD;
}