@inherits BlazorSite.Shared.MarkdownPresenterBase
@using Microsoft.AspNetCore.Components

@if (FormattedMarkdown is null)
{
    <p><center>Parsing Markdown...</center></p>
}
else
{
    @((MarkupString)FormattedMarkdown)
}