@inherits BlazorSite.Shared.PostLayoutBase
@using BlazorSite.BlogService

    <div class="content-card">

        @if (Metadata is null)
        {
            <p>Loading post content...</p>
        }
        else
        {
            <div class="content-heroimage" style="background-image:url('@(BlogPostUriHelper.GetContentFileUri(Metadata.PostId, Metadata.HeroImageFile))')" />

            <div class="content-title">
                <p>
                    <b>@Metadata.Title</b>
                    <br />
                    @Metadata.PublishDate.ToLocalTime().ToString("f")
                </p>
            </div>

            @ChildContent
        }
    </div>