@page "/"
@inherits BlazorSite.Pages.IndexBase

<center><h1>Emil's Dev Blog</h1></center>

@if (BlogPosts is null)
{
    <p><center>Retrieving posts from GitHub...</center></p>
}
else
{
    foreach (var post in BlogPosts)
    {
        <a href="@post.PostId" style="text-decoration: none">
            <BlazorSite.Shared.PostLayout Metadata="@post">
                <p>@post.Summary</p>
            </BlazorSite.Shared.PostLayout>
        </a>
    }
}
