@page "/"

<div class="content-card">
    <div class="content-heroimage" style="background-image:url('content/heroimage.jpg')" />
    <BlazorSite.Shared.MarkdownPresenter Url="content/Sample.md" />
</div>
