@page "/"
@inherits IndexBase

<center><h1>Emil's Dev Blog</h1></center>

@if (BlogPosts is null)
{
    <p><center>Retrieving posts from GitHub...</center></p>
}
else
{
    foreach (var post in BlogPosts)
    {
        <PostCard PostDetails="@post" IsDetailedView="false" />
    }
}