@page "/"
@inherits BlazorSite.Pages.IndexBase

<center><h1>Emil's Dev Blog</h1></center>

@if (BlogPosts is null)
{
    <p>Loading posts...</p>
}
else
{
    foreach (var post in BlogPosts)
    {
        <BlazorSite.Shared.PostLayout Metadata="@post">
            <p>@post.Summary</p>
            <p><a href="@post.PostId">Read more</a></p>
        </BlazorSite.Shared.PostLayout>
    }
}
