@page "/"
@inherits BlazorSite.Pages.IndexBase

<center><h1>Emil's Dev Blog</h1></center>

@if (BlogPosts is null)
{
    <p><center>Retrieving posts from GitHub...</center></p>
}
else
{
    foreach (var post in BlogPosts)
    {
        <BlazorSite.Shared.PostLayout PostDetails="@post" IsActive="true">
            <BlazorSite.Shared.MarkdownPresenter PostId="@post.PostId" FileName="@post.SummaryMarkdownFile" />
        </BlazorSite.Shared.PostLayout>
    }
}