@page "/"
@inherits IndexBase

<h1 style="text-align: center">Emil's Dev Blog</h1>

@if (BlogPosts is null)
{
    <p><center>Retrieving posts from GitHub...</center></p>
}
else
{
    foreach (var post in BlogPosts)
    {
        <PostCard PostDetails="@post" IsDetailedView="false" />
    }
}