@page "/"
@using Microsoft.AspNetCore.Components
@inject System.Net.Http.HttpClient Http
@inject Microsoft.JSInterop.IJSRuntime JsRuntime

@if (Markdown is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)Markdown)
}

@functions {
    [Parameter]
    string Markdown { get; set; }

    protected override async Task OnInitAsync()
    {
        var markdown = await Http.GetStringAsync("Sample.md");
        var rawHtml = ParseMarkdown(markdown);
        Markdown = rawHtml;
    }

    protected override async Task OnAfterRenderAsync()
    {
        await JsRuntime.InvokeAsync<object>("highlightAllSyntax");
    }

    private string ParseMarkdown(string markdown)
    {
        return CommonMark.CommonMarkConverter.Convert(markdown);
    }
}