@page "/{PostId}"
@inherits BlazorSite.Pages.PostBase

<a href="/"><center><h1>Emil's Dev Blog</h1></center></a>

<BlazorSite.Shared.PostLayout PostDetails="@PostDetails">
    <BlazorSite.Shared.MarkdownPresenter PostId="@PostDetails.PostId" FileName="@PostDetails.MarkdownFile" />
</BlazorSite.Shared.PostLayout>