@page "/{PostId}"
@inherits PostBase

<a href="/"><h1 style="text-align: center">Emil's Dev Blog</h1></a>

@if (ViewModel is null)
{
    <p><center>Retrieving post details from GitHub...</center></p>
}
else
{
    <PostCard PostDetails="@ViewModel.PostDetails" IsDetailedView="true" />
}